/*html{
    width: 40%;
}*/

body{
    width: 100%;
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	background:#E8E8E8;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
}

#Headline{
	text-align: center;
	margin-bottom: 8%;
}

.indhold {
	text-align: center;	
	margin-bottom: 70px;
	background:#E8E8E8;
}

.tablediv {
	display: none;
}

.shiny-btn-small {
	font-family: "Montserrat", sans-serif;
	color: black;
	font-weight: bold;
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	height: 10%;
	width: 100%;
	padding: 5% 0%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	text-align: center;
	display: block;
}

#klasse{
	background-color: #00a0b8;
}
#gym{
	background-color: #fff22b;
}
#erhverv{
	background-color: #f03226;
}
#andre{
	background-color: #fbb80e;
}


.shiny-btn-small:active, .shiny-btn-small:focus, .shiny-btn-small:hover{
	color: white;
	outline: none;
	text-decoration:none; 
	cursor:pointer;  
}

.tablestyle {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.tablestyle td, .tablestyle th {
	border: 1px solid #ddd;
	padding: 8px;
}

.tablestyle tr:hover {background-color: #ddd;}

.tablestyle th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #004e5d;
	color: white;
}

.arrow {
	text-align: left;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
	padding: 5px;
	position: absolute;
	left: 90%;
	transform: rotate(-45deg);
	transition: transform 0.5s linear;
}

.arrow-down{
  transform: rotate(45deg);
  transition: transform 0.5s linear;
}

.arrow.up{
  transform: rotate(45deg);
  transition: transform 0.5s linear;
} 